body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-weight: bolder;
}
/* Added width so image can scale with page size*/
img {
  position: relative;
  width: 100%;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
#currentDay{
  font-weight: bold;
  color: red; /*changed current date color to stand out*/
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #9f37c9; /*changed colour*/
  color:whitesmoke; /* colour changed to make standout with background colour*/
  border-top: 1px dashed #000000;
  text-align:right; /*aligned number text to the right*/
  font-weight: bold; 
  line-height: 2; /* to move text away from top border*/
  
  }

.past {
  background-color: #3d0fe4; /*changed colour*/
  color: white;
}

.present {
  background-color: #ff6961; /* changed colour*/
  color: white;
}

.future {
  background-color: #57b5c5; /*changed colour*/
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #011216;
  color: white;
 
  
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
